.btn{
    margin: 7px 0px 0px 10px;
    padding: 6px 10px;
    background-color: black;
    color: white;
    font-weight: 600;
    border-radius: 6px;
    border: none;
    transition: all .3s;
    font-size: 15px;
}

.btn:hover{
    cursor: pointer;
}