.root{
    min-height: 90vh;
    display: flex;
    justify-content: start;
    color: black;
    background-color: var(--main-background);
}
.root.dark{
    background-color: black;
    color: white;
}

.PrivacyContainer{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 10px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 80px;
    margin-top: 80px;
}

.PrivacyContainer > p{
    margin-left: 10px;
    color: rgb(65, 65, 65);
    font-size: clamp(.6rem, 0.8rem, 1rem);
}


.PrivacyContainer > h2{
    margin: 14px 2px 5px 0px;
    font-size: clamp(.6rem, 0.8rem, 1rem);
}
.head{
font-size: 28px;
}

@media (max-width: 500px) {
    .PrivacyContainer{
        width: 100%;
    }
}