.parent{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px;
    transition: all 300ms linear;
    font-family: "TitleFont", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    /* background-color: var(--main-cardbackground); */
    color: black;
    border-radius: 10px;

}
.parent.dark{
    color: white;
    background: black;
    border-radius: 0;
}


.info > h4{
    font-family: "TitleFont", sans-serif;
    line-height: 22px;
    font-size: 18px;
    font-optical-sizing: auto;
    padding: 4px 6px;
    font-weight: 500;

}
.parent:hover{
    border-color: pink;
}

.imageC{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    object-fit: contain;
    border-radius: 6px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.imageC > img{
    aspect-ratio: 2/1;
    object-fit: contain;
    max-height: 200px;
    max-width: 100%;
    border-radius: 10px;

}

.dark > .imageC > img{
    box-shadow: none;
}

@media (max-width: 500px) {
    .parent{
        width: 100%;
        
    }
    .imageC > img{
        width: 100%;
    }
}