.container {
    min-width: 220px;
    height: 100vh;
    position: sticky; /* Sticks to the viewport on scroll */
    top: 0; /* Ensures sticky behavior starts from the top */
    padding: 20px 4px;
    border-right: 2px solid #14110F;
    font-family: 'Poppins', sans-serif;
    display: flex; /* Ensures the child elements (e.g., .linkContainer) use flex layout */
    flex-direction: column;
    background-color: #14110F;
    z-index: 51110;
}

.linkContainer {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column; /* Stack links vertically */
    justify-content: space-between; /* Distribute space between links */
    height: calc(100vh - 70px); /* Corrected calc syntax */
    overflow-y: auto; /* Enables scrolling if the content overflows */
}

.linkContainer li a {
    text-transform: capitalize;
    text-decoration: none;
    color: white;
    font-size: clamp(0.7rem, 1rem, 1.2rem); /* Dynamically adjust font size */
    display: flex;
    justify-content: start;
    align-items: center; /* Vertically center text and icon */
    gap: 10px; /* Space between icon and text */
    border: 1px solid transparent;
    padding: 10px 15px; /* Add padding for better clickability */
    transition: all 0.3s ease; /* Smooth hover effect */
    border-bottom: 2px solid black;
}
.logo{
    padding: 0px 15px; /* Add padding for better clickability */
    height: 60px;
    color: red;
    -webkit-text-stroke-color: black;
    font-family: 'AvengersFont';
    font-size: clamp(1.4rem, 1.8rem, 2.1rem); /* Dynamically adjust font size */
}

.linkContainer li a:hover {
   border-bottom: 2px solid white;
}

.activeLink a {
    color: red;
    font-weight: bold; /* Optional: Highlight active links */
}
