.rootkabaap{
    margin-top: 20px;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: var(--main-background);
}
.rootkabaap.dark{
    background-color: #181818;
    color: white;
}

.root{
    padding: 10px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}


.root > p{

    text-align: center;
    margin: 14px auto;
    width: 70rem;
    margin-top: 30px;
    font-weight: 300;
    font-size: clamp(.8rem, 1rem, 1.2rem);
    line-height: 30px;
}


@media (max-width: 500px) {
    .root{
        margin: 10vh auto;
    }
    .root > p{
        font-size: 15px;
        line-height: 25px;
        width: 92%;
    }
}