.root{
    min-height: 85vh;
    background-color: var(--main-background);
    display: flex;
    justify-content: center;
    align-items: center;
}
.form{
    background-color:  var(--main-cardbackground);
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px 40px;
}
.formGroup{
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.formGroup > h2{
    color: white;
}
.formGroup >input{
    outline: 0;
    color: white;
    font-size: 20px;
    background: transparent;
    border: none;
    border-bottom: 2px solid white;
}
.formGroup >input::placeholder{
    color: white;
    font-size: 15px;
}
.formGroup > button{
    float: left;
    border: 1px solid black;
    border-radius: 1px;
    padding: 8px 20px;
    background: black;
    position: relative;
    overflow: hidden;
    color: white;
    border-radius: 10px;
    max-height: max-content;
    transition: all linear 0.5s;
}
.formGroup > button:hover{
    cursor: pointer;
}
.formGroup > p{
    color: #D80032;
}