.root {
    background-color: #f2f2f2;
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.root > h2 {
    text-align: center;
    margin-top: 60px;
    color: black;
    padding-top: 20px;
    font-size: 18px;
}

.root > h2 > span {
    box-sizing: border-box;
    background-color: #f2f2f2;
    color: black;
    font-size: 17px;
    padding: 4px;
    border-radius: 4px;
}

.blogcontainer {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 70%;
    margin-bottom: 30px;
}

@media (max-width: 500px) {

    .blogcontainer
    {
        width: 85%;
    }
    
}
