.root{
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #181818;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}